<!DOCTYPE html>
<html>
  <head>
    <title>Formulario</title>
  </head>
  <body>
    <h1>Formulario de Registro</h1>
    <form action="/enviar2" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required />
      <br />
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
      <br />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
